<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goranminov.bakeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BakingProvider"
            android:authorities="com.example.goranminov.bakeapp"
            android:exported="true" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.goranminov.bakeapp.MainActivity" />
        </activity>
        <activity
            android:name=".IngredientActivity"
            android:label="@string/title_activity_ingredients"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.goranminov.bakeapp.DetailActivity" />
        </activity>
        <activity
            android:name=".viewpager.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.goranminov.bakeapp.DetailActivity" />
        </activity>
        <activity
            android:name=".RecyclerViewSteps.StepActivity"
            android:label="@string/title_activity_step"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.goranminov.bakeapp.DetailActivity" />
        </activity>
        <activity
            android:name=".StepsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_steps"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.goranminov.bakeapp.DetailActivity" />
        </activity>

        <receiver android:name=".IngredientWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_widget_info" />
        </receiver>
        <service android:name=".ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>